<tr class="even:bg-gray-700 odd:bg-gray-600 {{ animateIn|default ? 'animate-fade-in' : '' }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ voyage.id }}</td>
    <td class="px-6 py-4">{{ voyage.purpose }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ voyage.leaveAt ? voyage.leaveAt|date('Y-m-d H:i:s') : '' }}</td>
    <td class="px-6 py-4 whitespace-nowrap">
        <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}" class="text-blue-400 hover:text-blue-600">show</a>
        <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}" class="ml-4 text-yellow-400 hover:text-yellow-600">edit</a>
    </td>
</tr>
